<section id="about" class="about about_light section">
  <div class="container">
    <span class="about__title title">Персен<sup>®</sup></span>
    <div class="row">
      <div class="col-lg-7">
        <p class="about__desc">
          Стресс взял над вами верх? Маленькие заботы превращаются в огромные
          проблемы? Не дайте стрессу задавить вас! Примите Персен® –
          успокоительное средство растительного происхождения, которое
          способствует избавлению от симптомов стресса1. В его состав входят
          валериана, мелисса и перечная мята – растения, известные своим
          седативным эффектом2. Природные компоненты помогают избавиться от
          раздражительности и противостоять нервному напряжению, чтобы легко
          преодолевать стрессовые ситуации. Смотрите на стресс свысока!
        </p>
        <a class="about__button button" href="#">Скачать инструцию</a>
      </div>
      <div class="col-lg-5">
        <span class="about__back-image">
          <img src="img/flowers.png" alt="" />
        </span>

        <span class="about__image">
          <img src="img/drug_light.png" alt="" />
        </span>
      </div>
    </div>

    <div class="cards cards_light">
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_light/card_1.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Борется со стрессом, устраняя его основные симптомы: повышенное
          нервное напряжение и раздражительность
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_light/card_2.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Комбинация натуральных компонентов: валериана, мелисса и мята перечная
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_light/card_3.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Дополнительные исследования по препарату<sup>3</sup>
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_light/card_4.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Не вызывает синдрома отмены при прекращение приема
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_light/card_5.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Подходит для детей с 12 лет и для взрослых всех возрастов
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="about_night"
  class="about about_night section"
  style="background-image: url('../img/sky.jpg')"
>
  <div class="container">
    <span class="about__title title">Персен<sup>®</sup></span>
    <div class="row">
      <div class="col-lg-7">
        <p class="about__desc">
          Стресс взял над вами верх? Маленькие заботы превращаются в огромные
          проблемы? Не дайте стрессу задавить вас! Примите Персен® –
          успокоительное средство растительного происхождения, которое
          способствует избавлению от симптомов стресса1. В его состав входят
          валериана, мелисса и перечная мята – растения, известные своим
          седативным эффектом2. Природные компоненты помогают избавиться от
          раздражительности и противостоять нервному напряжению, чтобы легко
          преодолевать стрессовые ситуации. Смотрите на стресс свысока!
        </p>
        <a class="about__button button" href="#">Скачать инструцию</a>
      </div>
      <div class="col-lg-5">
        <span class="about__back-image">
          <img src="img/flowers.png" alt="" />
        </span>

        <span class="about__image">
          <img src="img/drug_light.png" alt="" />
        </span>
      </div>
    </div>

    <div class="cards cards_night">
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_night/card_1.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Комбинация натуральных компонентов: валериана, мелисса и мята перечная
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_night/card_2.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Дополнительно подтвержденный исследованиями эффект в области терапии
          нарушений сна2 3
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_night/card_3.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Действует4, снимая нервное напряжение и помогая уснуть
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_night/card_4.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Устраняет основную причину бессонницы - стресс, помогая успокоиться и
          вернуть здоровый сон
        </p>
      </div>
      <div class="card">
        <span class="card__icon">
          <img src="img/icons/cards_night/card_5.png" alt="" />
        </span>
        <div class="horizontal"></div>
        <p class="card__desc">
          Подходит для детей с 12 лет и для взрослых всех возрастов
        </p>
      </div>
    </div>
  </div>
</section>
