<section id="faq" class="faq section">
  <div class="container">
    <span class="faq__title title">Вопросы-ответы</span>

    <span class="faq__drugs">
      <img src="img/drugs.png" alt="" />
    </span>

    <span class="faq__flowers">
      <img src="img/faq_flowers.png" alt="" />
    </span>
    <div class="tabs">
      <a class="tab tab_active" href="#">
        <span class="tab__title">
          Что такое ПЕРСЕН<sup>®</sup> ?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          Натуральное успокоительное средство растительного происхождения,
          способствующее снятию симптомов стресса. <sup>1-3</sup>
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Как быстро развивается эффект на фоне приема препарата ПЕРСЕН<sup
            >®</sup
          >
          ?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          Согласно данным клинического исследования, при развитии острой
          стрессовой ситуации 89% пациентов почувствовали улучшение состояния в
          течение часа после приема препарата. Кроме того, эффект от приема
          ПЕРСЕН® Ночь увеличивается в процессе лечения <sup>3-4</sup>
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Подходит ли препарат ПЕРСЕН<sup>®</sup> для приема в острой стрессовой
          ситуации ?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          Да, благодаря растительным компонентам (валериана, мята, мелисса,
          известным своим седативным эффектом<sup>2</sup> , ПЕРСЕН® способствует
          избавлению от симптомов стресса<sup>1</sup>. Природные компоненты
          помогают избавиться от раздражительности и противостоять нервному
          напряжению, чтобы легко преодолевать стрессовые ситуации.
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Используют ли ПЕРСЕН<sup>®</sup> для лечения хронического стресса ?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          ПЕРСЕН® подходит для курсового лечения хронического стресса. При
          длительных невротических расстройствах эффект ПЕРСЕН® может
          развиваться уже к 7-му дню применения препарата и нарастать в процессе
          лечения. <sup>4</sup>
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Какие активные компоненты входят в состав ПЕРСЕН<sup>®</sup>
          ?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          Натуральное успокоительное средство растительного происхождения,
          способствующее снятию симптомов стресса.1 4 5
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Как следует принимать ПЕРСЕН<sup>®</sup> и ПЕРСЕН<sup>®</sup>
          ночь?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          В соответствии с инструкцией по приему препарата: Взрослым и детям при
          повышенной нервной возбудимости, раздражительности – по 2-3 таблетки
          ПЕРСЕН®; при бессоннице – по 1-2 капсулы ПЕРСЕН® ночь за 1 час перед
          сном.
        </p>
      </a>
      <a class="tab" href="#">
        <span class="tab__title">
          Каковы преимущества ПЕРСЕН<sup>®</sup> ночь?
          <span class="tab__icon">
            <svg
              width="23"
              height="13"
              viewBox="0 0 23 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3614 12.5323L0.472053 2.72626C-0.157353 2.10248 -0.157352 1.09112 0.472054 0.467646C1.1009 -0.155883 2.12083 -0.155883 2.74962 0.467646L11.5002 9.14446L20.2504 0.467899C20.8795 -0.15563 21.8993 -0.15563 22.5282 0.467899C23.1573 1.09143 23.1573 2.10273 22.5282 2.72651L12.6387 12.5325C12.3241 12.8443 11.9123 13 11.5002 13C11.088 13 10.6758 12.844 10.3614 12.5323Z"
                fill="#989898"
              />
            </svg>
          </span>
        </span>
        <p class="tab__desc">
          1. Подходит для детей с 12 лет<br />
          2. Устраняет основную причину бессонницы — стресс, помогая успокоиться
          и вернуть здоровый сон<br />
          3. Сбалансированная комбинация натуральных компонентов: валерьяна,
          мелисса и мята<br />
          4. Дополнительно подтвержденный исследованиями эффект в терапии
          нарушения сна <sup>6, 7</sup>
        </p>
      </a>
    </div>
  </div>
</section>
