<footer class="footer">
  <div class="footer__container container">
    <span class="footer__title title">Контакты</span>
    <span class="footer__bg">
      <img src="img/footer_flowers.png" alt="" />
    </span>
    <div class="row">
      <div class="col-lg-5">
        <span class="footer__logo grandpharm">
          <img src="img/logos/grandpharm.svg" alt="" />
        </span>
        <p class="footer__desc">
          Адрес: г. Ташкент, Алмазарский район, ул. Зиё, дом 2<br />
          Телефон: +998 71 205-00-30<br />
          Email: info@grandpharm.uz
        </p>
      </div>
      <div class="col-lg-7">
        <span class="footer__logo zentiva">
          <img src="img/logos/zentiva.png" alt="" />
        </span>
        <p class="footer__desc">
          Производитель: 123112, Российская Федерация, г. Москва, Пресненская
          набережная, д. 12, этаж 45, офис 2., Деловой комплекс «Федерация»,
          башня «Восток», ООО "Зентива Фарма", тел.: +7 (495) 350-13-48
          www.zentiva.ru Рег. номера: DV/X 07499/01/20, DV/X 07450/01/20
        </p>
      </div>
    </div>

    <div class="footer__bot">
      <span class="footer__bot-title">
        Имеются противопоказания, перед употреблением необходимо
        проконсультироваться с врачом
      </span>
      <p class="footer__bot-desc">
        1. Воробьева О.В., Рябоконь И.В. Стресс и антистрессовая терапия.
        Лечащий врач 2011;5: 85-9. Вознесенская Т.Г. Эмоциональный стресс и
        профилактика его последствий. Русский медицинский журнал. 2006;9(14):
        694-7<br />
        2. Турищев С. Лекарственные растения седативного действия. Врач 2008;3:
        69-72.<br />
        3. Рачин А.П., Сергеев А.В. Персен: возможности применения при тревожных
        расстройствах и нарушениях сна. Фарматека, 2008:; 8:27-30. <br />
        4. При развитии острой стрессовой ситуации 89% пациентов почувствовали
        улучшение состояния в течение часа после приема препарата. Воробьева
        О.В., Рябоконь И.В. Стресс и антистрессовая терапия. Лечащий врач
        2011;5: 85-9.<br />
        5. Натуральными являются активные вещества в составе препарата.<br />
        6. Вознесенская Т.Г. Эмоциональный стресс и профилактика его
        последствий. Русский медицинский журнал. 2006;9(14): 694-7
      </p>
    </div>
  </div>
</footer>
