<header class="header">
  <div class="header__container container">
    <span class="header__logo title">ПЕРСЕН<sup>®</sup></span>

    <div class="hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>

    <nav class="header__nav">
      <ul class="list">
        <li class="list__item">
          <a class="list__link" href="#" data-nav="about">Персен</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#" data-nav="about_night">Персен ночь</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#" data-nav="instructions">Инструкции</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#" data-nav="faq">Вопросы-ответы</a>
        </li>
      </ul>

      <div class="langs">
        <div class="lang lang_current">
          Ўзб
          <span class="lang_icon">
            <svg
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.40594 7.17412L0.246288 2.0143C-0.0820981 1.68607 -0.082098 1.15391 0.246288 0.825843C0.574382 0.497749 1.10652 0.497749 1.43458 0.825843L6.00009 5.39149L10.5654 0.825976C10.8937 0.497882 11.4257 0.497882 11.7538 0.825976C12.0821 1.15407 12.0821 1.68621 11.7538 2.01443L6.5941 7.17426C6.42997 7.3383 6.2151 7.42023 6.00011 7.42023C5.78502 7.42023 5.56998 7.33814 5.40594 7.17412Z"
                fill="#989898"
              />
            </svg>
          </span>
        </div>
        <div class="lang_dropdown">
          <a class="lang" href="#">Рус</a>
        </div>
      </div>
    </nav>
  </div>
</header>
