<section class="hero">
  <div class="hero__items">
    <div
      class="hero__item"
      style="background-image: url('../img/hero_light.png')"
    >
      <span class="hero__image hero__image_light">
        <img src="img/hero_drug_light.png" alt="" />
      </span>
      <div class="hero__content">
        <h1 class="hero__title">ПЕРСЕН</h1>
        <p class="hero__desc">ВАШ СПОКОЙНЫЙ ДЕНЬ!</p>
        <a class="hero__button button" href="#">УЗНАТЬ ПОДРОБНЕЕ</a>
      </div>
    </div>
    <div
      class="hero__item"
      style="background-image: url('../img/hero_night.png')"
    >
      <span class="hero__image hero__image_night">
        <img src="img/hero_drug_night.png" alt="" />
      </span>
      <div class="hero__content">
        <h1 class="hero__title">ПЕРСЕН НОЧЬ</h1>
        <p class="hero__desc">БЕССОННИЦА ПРОЧЬ!</p>
        <a class="hero__button button" href="#">УЗНАТЬ ПОДРОБНЕЕ</a>
      </div>
    </div>
  </div>
</section>
