.footer {
  position: relative;
  background: #5eb8e4;
  padding: 55px 0;
  &__bg {
    position: absolute;
    top: 0;
    right: 5%;
  }
  &__title {
    color: #fff;
  }
  &__logo {
    display: block;
  }
  &__desc {
    line-height: 3rem;
    color: #fff;
  }
  &__bot {
    margin-top: 50px;
    &-title {
      display: block;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 2.4rem;
      color: #fff;
    }
    &-desc {
      font-weight: 300;
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }
}

.zentiva {
  margin-top: 30px;
  margin-bottom: 30px;
}
